@{
        ViewBag.Title = "Beneficiaries";
    }

    <h2>Beneficiaries</h2>

    <div>
        <strong>Current marital status:</strong> Single
        <a href="@Url.Action("MaritalStatus", "Beneficiary")" style="margin-left: 20px; color: blue;">Edit</a>
    </div>

    <h3>Primary beneficiaries</h3>
    <div>
        <p><strong>Name:</strong> Erina Participant</p>
        <p><strong>SSN-TIN:</strong> XXX-XX-XXXX</p>
        <p><strong>Relationship:</strong> Daughter</p>
    </div>*